.search-container {
      width: 100%;
      height: 60px;
      background-color: #323a45;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      position: fixed;
      top: 0;
      left: 0;
      z-index: 4;
    }




.comment {
    width: 40%;
    height: 100px;
    padding: 10px;
    background-color: #d0e2bc;
  }
  .button {
    background-color: rgb(29, 155, 240);
    color: white;
    border: none;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 16px;
    padding-right: 16px;
    border-radius: 8px;
    border-radius: 18px;
    font-weight: bold;
    font-size: 15px;
    cursor: pointer;
    margin-left: 8px;
    transition: box-shadow 0.15s;
    vertical-align: top;
  }

  .button:hover {
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.15);
  }

    
  .exit {
    background-color: white;
    border-color: rgb(6, 95, 212);
    border-style: solid;
    border-width: 1px;
    color: rgb(6, 95, 212);
    border-radius: 2px;
    cursor: pointer;
    padding-top: 9px;
    padding-bottom: 9px;
    padding-left: 16px;
    padding-right: 16px;
    margin-left: 20px;
    float: right;
    
    transition: background-color 0.15s,
      color 0.15s;
  }

  .exit:hover {
    background-color: rgb(6, 95, 212);
    color: white;
  }

  .exit:active {
    opacity: 0.7;
  }

  p {
    font-family: Roboto;
    margin-top: 0;
    margin-bottom: 0;
  }

  .title {
    font-weight: bold;
    font-size: 18px;
    width: 280px;
    line-height: 24px;
    margin-bottom: 5px;
  }
  .logo {
    margin-left: 10px;
    color: #fff;
    font-weight: 700;
    cursor: pointer;
    text-decoration: none;


  }
  
    .video-frame {
    position: relative;
    margin-top: 20px;
  }
.com-container{
        font-size: 14px;
        color: rgb(96, 96, 96);
        width: 280px;
        line-height: 22px;
        margin-bottom: 100px; 
        border: #323a45;   

}